<h2>Choix des restaurants :</h2>
<p>Sélectionnez un ou plusieurs restaurants :</p>

<form>

  <div class="venues">

  {{#foursquareVenues.models}}
  {{#attributes}}
  <label class="venue clearfix" data-name="{{venue.name}}" data-foursquare-id="{{venue.id}}">
    <div class="checkbox">
      <input type="checkbox" name="{{venue.id}}">
    </div>
    <div class="venue-icon">
      {{#venue.categories}}
      <img class="picture" src="{{icon.prefix}}bg_88{{icon.suffix}}" width="32" height="32">
      {{/venue.categories}}
      <span class="rating">
        {{venue.rating}}
        {{^venue.rating}}-{{/venue.rating}}
      </span>
    </div>
    <div class="venue-details">
      <div class="name">{{venue.name}}</div>
      <div class="address">{{venue.location.address}}</div>
    </div>
  </label>
  {{/attributes}}
  {{/foursquareVenues.models}}

  {{^foursquareVenues.models}}
  Chargement en cours...
  {{/foursquareVenues.models}}

  </div>

  {{#foursquareVenues.length}}
  <input type="submit" class="btn btn-primary" value="Continuer">
  {{/foursquareVenues.length}}

</form>