body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.venue {
  border: 1px solid #ccc;
  .border-radius(3px);
  font-size: 12px;
  min-height: 50px;
  padding: 5px;
}

.venue .checkbox {
  float: left;
}

.venue .venue-icon {
  float: left;
  height: 32px;
  line-height: 0;
  width: 42px;
  position: relative;
}

.venue .venue-icon .rating {
  border-top: 2px solid #c4c3bc;
  color: #666666;
  cursor: default;
  display: block;
  font-size: 10px;
  font-weight: bold;
  left: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 32px;
  background: #eee;
}

.venue .venue-details {
  width: 170px;
  float: left;
}

.venue .venue-details .name {
  font-size: 12px;
  line-height: 14px;
}

.venue .venue-details .address {
  font-size: 11px;
}