<html>
<head>
  <meta charset="utf-8">
  <title>On mange quoi ?</title>
  <link rel="stylesheet/less" type="text/css" href="/medias/less/main.less">
  <script src="/medias/components/less.js/dist/less-1.3.3.js"></script>
  <script data-main="/medias/main" src="/medias/components/requirejs/require.js"></script>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">On mange quoi ?</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="#">Créer un vote</a></li>
            <li><a href="#about">A propos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit center">
      <h1>On mange quoi ?</h1>
      <p>Vous cherchez ou manger avec vos collègues mais vous n'arrivez pas à vous décider ? Ce site est fait pour vous !</p>
      <p>
        <a class="btn btn-large btn-success" href="#">Créer un vote</a>
      </p>
    </div>
  </div>

</body>
</html>