<html>
<head>
  <meta charset="utf-8">
  <title>On mange quoi ?</title>
  {{#env.development}}
  <link rel="stylesheet/less" type="text/css" href="/medias/less/main.less">
  <script src="/medias/components/less.js/dist/less-1.3.3.js"></script>
  {{/env.development}}
  {{#env.production}}
  <link rel="stylesheet" type="text/css" href="/medias/css/main.css">
  {{/env.production}}
  <script data-main="/medias/main" src="/medias/components/requirejs/require.js"></script>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">On mange quoi ?</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li data-route="create"><a href="#create">Créer un vote</a></li>
            <li><a href="#about">A propos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="page">
  </div>
</body>
</html>