<h3>Invitation par email</h3>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="emails">
      Emails :
      <span class="hint">(utilisez des virgules pour séparer les emails)</span>
    </label>
    <div class="controls">
      <textarea id="emails" type="textarea" rows="3"></textarea>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Inviter ses collègues">
    </div>
  </div>
</form>

<hr>

<h3>Partage du lien</h3>
<p><input type="text" value="{{link}}" editable="false" class="link"></p>