<form>
<div class="venues">
  {{#collection}}
  <label class="venue clearfix" data-id="{{venue.id}}">
    <div class="checkbox">
      <input type="checkbox" name="{{venue.id}}">
    </div>
    <div class="venue-icon">
      {{#venue.categories}}
      <img class="picture" src="{{icon.prefix}}bg_88{{icon.suffix}}" width="32" height="32">
      {{/venue.categories}}
      <span class="rating">
        {{venue.rating}}
        {{^venue.rating}}-{{/venue.rating}}
      </span>
    </div>
    <div class="venue-details">
      <div class="name">{{venue.name}}</div>
      <div class="address">{{venue.location.address}}</div>
    </div>
  </label>
  {{/collection}}

  {{^collection}}
  <p class="loader">
    <i class="icon-spinner icon-spin icon-4x"></i>
  </p>
  {{/collection}}
</div>

{{#collection.length}}
<input type="submit" class="btn btn-primary" value="Continuer">
{{/collection.length}}
</form>