<h2>Création d'un rendez-vous du midi</h2>
<ul class="breadcrumb">
  <li class="choice">Choix des restaurants <span class="divider">/</span></li>
  <li class="invite">Invitation des collègues</li>
</ul>
<div class="step"></div>