{{^foodMeeting}}
<p>Chargement en cours...</p>
{{/foodMeeting}}

{{^hasVoted}}
{{^done}}

{{#foodMeeting.attributes}}
<form>
<div class="venues">
  {{#venues}}
  <label class="venue clearfix" data-id="{{venue.id}}">
    <div class="checkbox">
      <input type="radio" name="venue" value="{{venue.id}}">
    </div>
    <div class="venue-icon">
      {{#venue.categories}}
      <img class="picture" src="{{icon.prefix}}bg_88{{icon.suffix}}" width="32" height="32">
      {{/venue.categories}}
      <span class="rating">
        {{venue.rating}}
        {{^venue.rating}}-{{/venue.rating}}
      </span>
    </div>
    <div class="venue-details">
      <div class="name">{{venue.name}}</div>
      <div class="address">{{venue.location.address}}</div>
    </div>
  </label>
  {{/venues}}
</div>

<p><input type="submit" class="btn btn-primary" value="Valider"></p>

</form>
{{/foodMeeting.attributes}}

{{/done}}
{{/hasVoted}}

{{#hasVoted}}
<p>Vous avez déjà voté aujourd'hui, désolé.</p>
{{/hasVoted}}

{{#done}}
<p>Votre vote a bien été pris en compte, merci !</p>
{{/done}}