<div class="hero-unit">
  <h2>Bravo ! Vous saurez désormais où manger sans perdre de temps !</h2>
  <p>Pour cela, il vous suffit de partager le lien suivant à vos collègues :</p>
  <p><a href="{{link}}">{{link}}</a></p>
  {{!
  <p>Vous pouvez aussi inviter vos collègues directement :</p>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="emails">
      Emails :
      <span class="hint">(utilisez des virgules pour séparer les emails)</span>
      </label>
      <div class="controls">
        <textarea id="emails" type="textarea" rows="3"></textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary" value="Inviter ses collègues">
      </div>
    </div>

  </form>
  }}
</div>